.page-header {
    border-left: 5px solid #e9ecef;
    padding-left: 1.5rem;
}

.table thead th {
    border-bottom-width: 1px;
    color: #6c757d;
    font-weight: 500;
}

.bolum-yonetici-card {
    border-radius: 20px;
    border: none;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
