.error-card {
    border-radius: 20px;
    border: none;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    background-color: #fff;
}

.error-icon {
    font-size: 4rem;
}

.error-tech {
    background-color: #f8f9fa;
    text-align: left;
}
