.thanks-card {
    border-radius: 20px;
    border: none;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    background-color: #fff;
}

.thanks-icon {
    font-size: 4rem;
}

.thanks-number {
    background-color: #f8f9fa;
}
